.btn-embed {
  display: inline-block;

  .embed-modal {
    .tooltip-content {
      text-align: center;
    }
  }
  .iframe-wrapper {
    padding: 0 10px;
  }
}

.modal-body {
  .modal-input {
    height: 45px;
  }
}
